a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiPaper-root.MuiDialog-paper {
  border-radius: 20px;
}

.answer__header {
  padding-bottom: 20px;
}

.MuiTypography-root.answer__headline {
  color: #4a4848;
  font-weight: bold;
}

.MuiTypography-root.answer__date {
  color: #4a4848;
}


/*=========== User Context Card ===========*/
.MuiTypography-root.user__context-name {
  font-weight: bold;
}

.MuiTypography-root.user__context-role {
  color: #999;
}

/*=========== Thumbnail ===========*/
.MuiTypography-root.thumbnail__headline {
  font-weight: bold;
} 

.MuiTypography-root.thumbnail__subheader {
  margin-top: -3px;
}

.MuiTypography-root.thumbnail__text {
  margin-top: 10px;
}

.MuiTab-root.MuiTab-textColorPrimary, .MuiTab-root.MuiTab-textColorPrimary.Mui-selected {
  color: #4a4848;
  padding: 0;
  min-height: initial;
  text-transform: inherit;
}

.MuiTab-root.MuiTab-textColorPrimary.Mui-selected {
  font-weight: bold;
}

.answer__pagination-buttons {
  position: absolute;
  top: 7px;
  right: 20px;
}

.MuiTypography-root.accordion__headline {
  font-weight: bold;
}

.MuiButton-root.MuiButton-containedPrimary {
  background-color: #5D74AC;
}

.MuiButton-root.MuiButton-containedPrimary:hover {
  background-color: #5D74AC;
  opacity: 0.8;
}